<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Web_Application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>Login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckBalance</display-name>
    <servlet-name>CheckBalance</servlet-name>
    <servlet-class>GaribBank.CheckBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBalance</servlet-name>
    <url-pattern>/CheckBalance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositServlet</display-name>
    <servlet-name>DepositServlet</servlet-name>
    <servlet-class>GaribBank.DepositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositServlet</servlet-name>
    <url-pattern>/DepositServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dposit</display-name>
    <servlet-name>Dposit</servlet-name>
    <servlet-class>GaribBank.Dposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dposit</servlet-name>
    <url-pattern>/Dposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>GaribBank.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MiniStatement</display-name>
    <servlet-name>MiniStatement</servlet-name>
    <servlet-class>GaribBank.MiniStatement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MiniStatement</servlet-name>
    <url-pattern>/MiniStatement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoneyTrans</display-name>
    <servlet-name>MoneyTrans</servlet-name>
    <servlet-class>GaribBank.MoneyTrans</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoneyTrans</servlet-name>
    <url-pattern>/MoneyTrans</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoneyTransfer</display-name>
    <servlet-name>MoneyTransfer</servlet-name>
    <servlet-class>GaribBank.MoneyTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoneyTransfer</servlet-name>
    <url-pattern>/MoneyTransfer</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>GaribBank.MyListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>NewPassword</display-name>
    <servlet-name>NewPassword</servlet-name>
    <servlet-class>GaribBank.NewPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPassword</servlet-name>
    <url-pattern>/NewPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Statement</display-name>
    <servlet-name>Statement</servlet-name>
    <servlet-class>GaribBank.Statement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Statement</servlet-name>
    <url-pattern>/Statement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithDraw</display-name>
    <servlet-name>WithDraw</servlet-name>
    <servlet-class>GaribBank.WithDraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithDraw</servlet-name>
    <url-pattern>/WithDraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithDrawalServlet</display-name>
    <servlet-name>WithDrawalServlet</servlet-name>
    <servlet-class>GaribBank.WithDrawalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithDrawalServlet</servlet-name>
    <url-pattern>/WithDrawalServlet</url-pattern>
  </servlet-mapping>
</web-app>